.post {
    padding: 24px 21px 7px 23px;
    background-color: white;
}

.post__meta {
    display: flex;
    margin-top: 17px;
    margin-bottom: 11px;
}

.post__meta__item {
    font-size: 18px;
}

.post__meta__item:first-of-type {
    padding-right: 26px;
    border-right: 1px solid black;
}

.post__meta__item:nth-of-type(2) {
    padding-left: 26px;
}