.card {
    display: flex;
    padding: 20px 0 20px 0;
}

.card__image{
    height: 180px;
    width: 246px;
    border-radius: 6px;
}

.card__content{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.card__meta {
    display: flex;
    margin-top: 17px;
    margin-bottom: 11px;
}

.card__meta__item {
    font-size: 18px;
}

.card__meta__item:first-of-type {
    padding-right: 26px;
    border-right: 1px solid black;
}

.card__meta__item:nth-of-type(2) {
    padding-left: 26px;
}