.card {
  display: flex;
  /* padding: 20px 0 20px 0; */
}

.card__image {
  height: 180px;
  width: 246px;
  border-radius: 6px;
}

.card__content {
  padding: 0 15px ;
}

.card__title {
    font-size: 30px;
    margin: 0;
}

.card__meta{
  display: flex;
  padding: 20px 0;
  align-items: center;
}

.card__meta__date {
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
  width: 62px;
  height: 25px;
  background: #142850;
  border-radius: 16px;
  display: flex;
  justify-content: center;
}

.card__meta__annotation {
  padding-left: 26px;

  font-size: 20px;
  color: #8695a4;
}
