.list {
  display: flex;
  width: 320px;
  justify-content: space-evenly;
}

.icon {
  width: 30px;
  height: 30px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #21243d;
}

.box {
  height: 182px;
  width: 1152px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  /* position: relative;
=======
  /* position: absolute;
>>>>>>> 5ca6f14f0d2e8cb3e77d20700350c1834e0fb9c3
  bottom: 0; */
}
